# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# build output
**/dist/
**/dist-web/
/build

# testing
**/coverage/

# VS Code extension package
*.vsix

# cypress artifacts
**/cypress/videos/
**/cypress/screenshots/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.idea